.edpuzzle{
    width: 100%;
    height: 90vh;
    background-size: cover;
    display: flex;
    margin-top: 20%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    flex-wrap: wrap;
}

.edLeft{
    width: 50%;
    height: 90vh;
    display: flex;
    background-color: rgb(44, 47, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out; 
}
.edRight{
    width: 50%;
    height: 90vh;
    display: flex;
    background-color: rgb(44, 47, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;   
}

.edRight:hover{
    opacity: 1;
    transition: opacity 0.5s ease-in-out; 
}

.edRight:hover + .edLeft {
    opacity: 0;
}

.puzzle-title{
    font-size: 17vh;
    color: rgb(255, 255, 255, 0.2);
    position: absolute;
    font-weight: 800;
    align-self:flex-start;
}

.puzzle-text{
    font-size: 1.2vw;
    color: antiquewhite;
    font-weight: 600;
    padding: 20px;
}

.edPic{
    width: 100%;
}

.hiddenDiv{
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
}

@media only screen and (max-width: 500px) {
    .edLeft, .edRight{
        width: 100%;
        height: 50vh;
    }

    .edpuzzle{
        height: fit-content;
        background-image: linear-gradient(to right, rgba(255, 140, 0, 0.3), rgba(255, 140, 0, 0.3)), url(../../Images/edPuzzleImg.png);
        background-size: cover;
    }

    .puzzle-title{
        font-size: 15vw;
    }

    .puzzle-text{
        font-size: 2vw;
    }
}