.section-three{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(57, 56, 56, 0.8);
    position: relative;
    top: 300px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 50px;
}

.section-three-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftTitle{
    font-size: 6vh;
    color: antiquewhite;
    text-align: center;
    position: relative;
}

.leftText{
    font-size: 3vh;
    color: antiquewhite;
    text-align: center;
    font-weight: 100;
    padding: 20px;
}


.arrow-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickLeft, .clickRight{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    border: none;
    margin-top: 40px;
}

.prevConv, .nextConv{
    width: 200px;
    height: 50px;
    margin: 20px;
    border-radius: 10px;
    border: none;
}


.section-three-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.chat-bubble-you, .chat-bubble-me {
    background-color: #211e32; /* Grön färg (kan anpassas) */
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: 70%; /* Anpassa bredden efter behov */
    position: relative;
    margin-top: 5%;
    font-weight: 100;
  }
  
  .chat-bubble-me::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #211e32 transparent transparent;
  }

  .chat-bubble-you::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #211e32;
  }

  @media only screen and (max-width: 500px) {

    .section-three{
        flex-wrap: wrap;
    }

    .section-three-left, .section-three-right{
        width: 100%;
        height: 50%;
    }

    .section-three-left {
        justify-content: flex-start;
        position: relative;
        top: 50px;
    }

    .section-three-right{
        justify-content: flex-start;
        position: relative;
        top: 20px;
    }

    .leftTitle{
        font-size: 4vh;
        margin: 0;
    }

    .leftText{
        font-size: 2vh
    }

    .prevConv, .nextConv{
        width: 100px;
        height: 50px;
        margin: 20px;
    }

    .chat-bubble-you, .chat-bubble-me {
        margin-top: 10%;
    }

}