.section-four{
    width: 100%;
    height: fit-content;
    background-color: rgba(39, 36, 68, 0.5);
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transition: margin-top 0.5s ease-in-out; /* Lägg till övergångseffekt för smidig scrollning */
}

.section-four-title{
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    text-align: center;
    font-size: 4vh;
}

.section-four-reflection{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}


.question{
    width: 50%;
    height: 30%;
    font-size: 2.5vh;
    color: antiquewhite;
    text-align: left;
    font-weight: 100;
}

.inputReflection{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 30vh;
    border-radius: 10px;
    border: none;
    padding: 20px;
    position: relative;
}

@media only screen and (max-width: 500px) {

    .question{
        width: 90%;
    }

    .inputReflection{
        width: 90%;
    }

    .section-four-title{
        font-size: 3vh;
        width: 90%;
    }

}