.gamma-app-box{
    width: 100%;
    height: 90vh;
    display: flex;
}

.gamma-app-about{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.gamma-app-about-title{
    font-size: 3vw;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 8px;
}

.gamma-app-about-text{
    width: 70%;
    margin: 0;
    letter-spacing: 2px;
}

.gammaAppImg{
    width: 80%;
    border-radius: 6px;
    border: 1px solid rgb(255, 255, 255, 0.3);
}

.tips-box-gamma-app{
    position: relative;
    width: 70%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    background-color: rgb(255, 255, 255, 0.2);
    justify-content: flex-end;
    align-items: center;
    overflow: hidden; 
    transition: height 0.3s ease;
    border: 1px solid rgba(106, 198, 255);
}


.tip-arrow{
    position: absolute;
    left: -20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 10%;
    height: 100%;
    background-color: rgba(31, 30, 40, 0.5);
    color: #fff;
    letter-spacing: 2px;
    font-size: 1.5vw;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tip-arrow p{
    transform: rotate(90deg);
}

.tip-arrow-up {
    transform: rotate(180deg);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.gamma-app-second-div, .gamma-app-third-div, .gamma-app-four-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.gamma-app-second-text, .gamma-app-third-text, .gamma-app-four-text{
    width: 70%;
    padding: 2%;
    border-radius: 40px;
    backdrop-filter: blur(10px);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.gamma-app-second-img-div, .gamma-app-third-img-div, .gamma-app-four-img-div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamma-app-second-img-div, .gamma-app-third-img-div, .gamma-app-four-img-div{
    width: 85%;
    margin: 2%;
    border-radius: 10px;
}

.gamma-app-second-img-div{
    width: 70%;
}

@media only screen and (max-width: 500px) {
    .gamma-app-box{
       flex-direction: column;
       height: 150vh;
    }

    .gamma-app-about{
        width: 100%;
        position: relative;
    }

    .gamma-app-about-title{
        font-size: 4vw;
        margin-bottom: 30px;
    }
    
    .gamma-app-second-div, .gamma-app-third-div, .gamma-app-four-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .gamma-app-second-img-div{
        width: 85%;
    }
}