.goblinTools{
    width: 100%;
    height: 90vh;
    background-color: rgb(82, 140, 163, 0.5);
    display: flex;
    margin-top: 20%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    justify-content: center;
    align-items: center;
}

