.header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 9vh;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: antiquewhite;
    font-weight: 600;
    align-self: center;
    text-align: center;
}

.startBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 2%;
    border-radius: 15px;
    text-transform: uppercase;
    padding: 2%;
    font-weight: 100;
    font-size: 3vh;
    background-color: antiquewhite;
    border: none;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Lägg till övergångseffekt för knappen */
}


@media only screen and (max-width: 500px) {
    .title{
        font-size: 5vh;
    }

    .startBtn{
        width: 70%;
    }
}
