.navbar{
    background-color: rgb(255, 255, 255);
    height: 10vh;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 999;
}

@media only screen and (max-width: 500px) {

    .nav-logo{
        width: 80%;
        height: 90%;
    }

}

