body {
    margin: 0;
    padding: 0;
}


.footer {
    width: 100%;
    height: 70vh;
    background-color: #000;
    display: flex;
    align-items: flex-end;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    color: antiquewhite;
}

.made{
    font-size: 3rem;
    align-self: center;
    position: relative;
    left: 48%;
    top: 6%;
}

.atom{
    font-size: 6rem;
    align-self: center;
    position: relative;
    left: 45%;
    top: 3%;
}

#atomcollab, #o, #r, #a, #t, #i, #on {
    display: inline-block;
    transform-origin: bottom;
    position: relative;
}

#atomcollab{
    left: 7%;
}

#o{
    transform: rotate(20deg);
    left: 2vw;
}

#r{
    transform: rotate(50deg);
    left: 0vw;
    top: 1vw;
}

#a {
    transform: rotate(70deg);
    left: -3vw; 
    top: 3vw;
}

#t {
    transform: rotate(90deg);
    top: 4.5vw;
    left: -5vw;
}

#i {
    transform: rotate(100deg);
    left: -7vw;
    top: 6vw;
}

#on {
    transform: rotate(80deg);
    left: -10vw;
    top: 11vw;
}


.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end; 
    width: 100%;
    font-size: 23rem;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 45%;
    font-weight: 700;
}
