@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./fonts/Aeonik-Air.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./fonts/Aeonik-AirItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./fonts/Aeonik-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./fonts/Aeonik-ThinItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./fonts/Aeonik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./fonts/Aeonik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./fonts/Aeonik-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./fonts/Aeonik-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./fonts/Aeonik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./fonts/Aeonik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./fonts/Aeonik-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./fonts/Aeonik-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./fonts/Aeonik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./fonts/Aeonik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
