body {
  margin: 0;
  font-family: 'Aeonik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #4CAF50 transparent;
}
